.add-hunt-fab {
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #007BFF;
}

.hunt-list-title {
  font-size: 30px;
}

.hunt-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1px;
}

.flex-1 {
  flex: 1;
  width: 100%;
}

.hunt-card {
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 700px;
  margin: 8px;
}

.search-card {
  width: 100%;
  height: 100%;
  max-height: 700px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;

  background-color: #a0c8ff;
  @media (prefers-color-scheme: dark) {
    background-color: #00ccff;
  }
}
.header-content {
  display: flex;
  justify-content: space-between;
}

.username-content {
  text-align: right;
}

.username {
  color: #0056b3;
}

.header-content {
  color: #0056b3;
}
