<div class="flex-row">
  <div class="flex-1">
    <form [formGroup]="addHuntForm" (ngSubmit)="submitForm();">
      <mat-card class="add-hunt-card">
        <mat-card-header>
          <mat-card-title class="add-hunt-title">New Hunt</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="flex-col">
            <mat-form-field>
              <mat-label>Hunt Name</mat-label>
              <input matInput formControlName="name"
                required>
              @if (formControlHasError('name')) {
                <mat-error data-test="nameError">
                  {{getErrorMessage('name')}}
                </mat-error>
              }
            </mat-form-field>

            <mat-form-field>
              <mat-label>Hunt Description</mat-label>
              <input matInput formControlName="description"
                required>
              @if (formControlHasError('description')) {
                <mat-error data-test="descriptionError">
                  {{getErrorMessage('description')}}
                </mat-error>
              }
            </mat-form-field>

            <mat-form-field>
              <mat-label>Estimated Time</mat-label>
              <input matInput type="number"
                formControlName="est" required>
              @if (formControlHasError('est')) {
                <mat-error data-test="estError">
                  {{getErrorMessage('est')}}
                </mat-error>
              }
            </mat-form-field>
          </div>

        </mat-card-content>
        <mat-card-actions align="end">
          <button
            mat-button
            type="button"
            color="warn"
            [routerLink]="['/hosts']"
            data-test="cancelAddHuntButton"
            >
            CANCEL
           </button>
          <button
            mat-button
            type="button"
            color="primary"
            [disabled]="!addHuntForm.valid"
            type="submit"
            data-test="confirmAddHuntButton"
            >
            ADD HUNT
           </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
