// This sets the font size to be the same for both the Angular Material
// list item title and list item line.
.mat-mdc-list-item {
    &-title,
    &-line {
      font-size: 1rem;
    }
  }

  .hunt-card {
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 700px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    background-color: black;
  }

  .search-card {
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 700px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    background-color: black;
  }
  
  // Capitalize the user role when displaying it in the user card.
  .hunt-card-role {
    text-transform: capitalize;
  }
  
  .hunt-card-email {
    display: block; /* Make it a block-level element */
    color: inherit; /* Inherit the text color from the parent element */
    text-decoration: none; /* Remove default underline */
    padding: 0; /* Reset padding */
    margin: 0; /* Reset margin */
    cursor: pointer; /* Change cursor to pointer on hover */
  }

  .hunt-card.time {
    display: flex;
    align-items: center;
    gap: 1px;
    font-size : 1rem;
  }
  