.task-list {
  font-size: 18px;
  font-weight: bold;
}

.task-list li {
  margin-bottom: 10px;
  margin-top: 10px;
}

.tasks-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center center;
  max-height: 200px;
}

.flex-1 {
  flex: 1;
}

.hunt-card {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.background {
  background-color: 70, 70, 70;
  padding: 20px;
  padding-bottom: 50px;
}

.remove-hunt-fab {
  font-size: 18px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: transparent;
  color: rgb(214, 1, 1);
}

.add-task-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.remove-task-fab {
  background-color: transparent;
  color: red;
}

.task-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
