<div class="flex-row">
  <div class="flex-1">
    <mat-card class="background">
    @if (completeHunt) {
      <app-hunt-card class="hunt-card" [hunt]="this.completeHunt.hunt" [simple]="false">
      </app-hunt-card>
      <ol class="task-list">
        <mat-card-title class="tasks-title">Tasks</mat-card-title>
        @for (task of this.completeHunt.tasks; track task._id) {
          <div class="task-line">
          <li matListItemTitle mat-line class="task-list-name"> {{task.name}} </li>
          <button mat-fab class="remove-task-fab" matTooltip="Remove Task" matTooltipPosition="left" (click)="openDeleteTaskDialog(task._id)" data-test="removeTaskButton">
            <mat-icon class="md-24" aria-label="Remove Task">delete</mat-icon>
          </button>
        </div>
          <mat-divider></mat-divider>
          }
    </ol>
    <div>
      <app-add-task class="add-task-button" data-test="addTaskButton" [huntId]="this.completeHunt.hunt._id"></app-add-task>
    </div>
    } @else if (error) {
      <mat-card class="error-card">
        <mat-card-content>
          <h2>
            {{ error.help }}
          </h2>
          <p>
            {{ error.message }}
          </p>
          <p>
            {{ error.httpResponse }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button color=primary mat-raised-button routerLink="/hunts">Back to Hunts</button>
        </mat-card-actions>
      </mat-card>
    } @else {
      <mat-card>
        <mat-card-content>
          <p>Loading Hunt Profile data...</p>
        </mat-card-content>
      </mat-card>
    }

    <button mat-raised-button class="remove-hunt-fab" matTooltip="Remove Hunt" matTooltipPosition="left" (click)="openDeleteHuntDialog(completeHunt.hunt._id)" data-test="removeHuntButton">
      DELETE HUNT
    </button>
  </mat-card>
  </div>
</div>
