@if (this.hunt()) {
  <mat-card class="hunt-card">
    <mat-card-header>
      <mat-card-title class="hunt-card-name">{{ this.hunt().name }}</mat-card-title>
      <mat-card-subtitle class="hunt-card-description">{{ this.hunt().description }}</mat-card-subtitle>
      <!-- <mat-card-title class="hunt-card-task bot-right icon-center">
        <div>
          <mat-icon matListItemIcon>av_timer</mat-icon>
          <span class="time-text">{{ this.hunt().numberOfTasks }} Tasks</span>
        </div>
      </mat-card-title> --> 
    </mat-card-header>
      <mat-card-actions class="actions-container">
        <div>
          <button mat-button class="profile-button" data-test="viewProfileButton" [routerLink]="['/hunts', this.hunt()._id]">View Profile</button>
          <mat-card-title class="hunt-card-task icon-center">
            <div>
              <mat-icon matListItemIcon>checklist</mat-icon>
              <span class="time-text">{{ this.hunt().numberOfTasks }} Tasks</span>
            </div>
          </mat-card-title>
        </div>
      </mat-card-actions>
      <mat-card-title class="hunt-card-time top-right icon-center">
        <div>
          <mat-icon matListItemIcon>av_timer</mat-icon>
          <span class="time-text">{{ this.hunt().est }} min</span>
        </div>
      </mat-card-title>
  </mat-card>
}
