@if (this.hunt()) {
  <mat-card class="hunt-card">
    <mat-card-header>
      <mat-card-title class="hunt-card-name">{{ this.hunt().name }}</mat-card-title>
      <mat-card-subtitle class="hunt-card-description">{{ this.hunt().description }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions class="actions-container">
      <div>
        @if (this.simple()) {
          <mat-card-actions>
            <button mat-button data-test=viewProfileButton [routerLink]="['/hunts', this.hunt()._id]" class="profile-button">View Profile</button>
          </mat-card-actions>
        }
        @else {
          <mat-card-actions>
            <button mat-button [routerLink]="['/hosts']" class="return-to-hunts">Return to Hunts</button>
          </mat-card-actions>}
        <mat-card-title class="hunt-card-task icon-center bot-right">
          <div>
            <mat-icon matListItemIcon>checklist</mat-icon>
            <span class="task-text">{{ this.hunt().numberOfTasks }} Tasks</span>
          </div>
        </mat-card-title>
      </div>
    </mat-card-actions>
    <mat-card-title class="hunt-card-time top-right icon-center">
      <div>
        <mat-icon matListItemIcon>av_timer</mat-icon>
        <span class="time-text">{{ this.hunt().est }} min</span>
      </div>
    </mat-card-title>
  </mat-card>
}
