.task-list {
  font-size: 18px;
  font-weight: bold;
}

.task-list li {
  margin-bottom: 10px;
}

.add-task-button {
  font-size: 14px;
  background-color: #d1e1f1;
  color: #060000;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.add-task-button:hover {
  background-color: #5495da;
}
