<mat-card class="hunt-information-card">
    <mat-card-title class="hunt-title">You are in {{ startedHunt?.completeHunt?.hunt?.name }}</mat-card-title>
</mat-card>

<div class="task-table">
  <div class="flex-row header-row">
    <div class="flex-1"> Your Picture </div>
    <div class="flex-2"> Your Task </div>
  </div>
  <div class="flex-row" *ngFor="let task of startedHunt?.completeHunt?.tasks">
    <div class="image-upload">
      <img [src]="imageUrls[task._id] || 'assets/icons8-upload-picture-64.png'" alt="Upload Picture" title="Upload Picture" height="100px" width="100px" />
      <input
        type="file"
        id="img-{{task._id}}"
        style="display:none"
        accept="image/*"
        (change)="onFileSelected($event, task)"
      />
      <label for="img-{{task._id}}">Upload Image</label>
    </div>
    <div class="task-list" [ngClass]="{'task-completed': task.status}">{{ task.name }}</div>
  </div>
</div>
