.hunt-information-card, .task-table {
  width: 100%;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-1 {
  flex: 2;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
  white-space: normal;
  overflow: auto;
  color: aqua;
  background-color: darkslategray;
}

.image-upload {
  display: flex;
  flex: 2;
  border: 1px solid black;
  padding: 10px;
  white-space: nowrap;
  overflow: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-2 {
  flex: 3;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
  text-overflow: ellipsis;
  white-space: normal;
  overflow: auto;
  color: aqua;
  background-color: darkslategray;
}

.task-list {
  flex: 3;
  font-size: 30px;
  border: 1px solid black;
  padding: 10px;
  text-overflow: ellipsis;
  white-space: normal;
  overflow: auto;
  line-height: 1.5;
  word-wrap: break-word;
}

.flex-3 {
  flex: 1;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
  text-overflow: ellipsis;
  white-space: normal;
  overflow: auto;
  color: aqua;
  background-color: darkslategray;
  line-height: 1.5;
  word-wrap: break-word;
}

.checkbox {
  flex: 1;
  border: 1px solid black;
  padding: 10px;
  text-overflow: ellipsis;
  white-space: normal;
  overflow: auto;
}

input[type="file"] {
  display: none;
}

label {
  background-color: rgb(255, 255, 255);
  border: solid 4px rgb(10, 112, 10);
  border-radius: 10px;
  color: green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 6px 7px;
  cursor: pointer;
  width: 100px;
  height: 15px;
}

.file-name {
  display: inline-block;
  margin-left: 10px;
}
