<mat-card class="hunt-information-card">
  <mat-card-header class="header-content">
    <mat-card-title class="hunt-title">You are in {{ completeHunt.hunt.name }}</mat-card-title>
    <mat-card-content class="hunt-content">
      <mat-card-subtitle class="hunt">Estimate time: {{ completeHunt.hunt.est }}</mat-card-subtitle>
      <mat-card-subtitle class="hunt">Number of Tasks: {{ completeHunt.hunt.numberOfTasks }}</mat-card-subtitle>
    </mat-card-content>
  </mat-card-header>
</mat-card>

<div class="task-table">
  <div class="flex-row header-row">
    <div class="flex-1">Submit Picture</div>
    <div class="flex-1">The Task</div>
    <div class="flex-1">Task Status</div>
  </div>
  <div class="flex-row" *ngFor="let task of tasks">
    <div class="flex-1">
      <img [src]="imageUrls[task._id] || url" alt="Profile Picture" title="Profile Picture" height="50px" width="50px" />
      <input
        type="file"
        id="img-{{task._id}}"
        style="display:none"
        accept="image/*"
        (change)="onFileSelected($event, task)"
      />
      <label for="img-{{task._id}}">Upload Image</label>
    </div>
    <div class="flex-1">{{ task.name }}</div>
    <div class="flex-1"><input type="checkbox"></div>
  </div>
</div>
