.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 300px;
}

.full-width {
  width: 100%;
}

.center-button {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;
  font-size: 30px;
}
