.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  height: wrap-content;
  width: 400px;
}

.center-button {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;
  font-size: 30px;
  border-radius: 50px;
  width: 300px;

}


.app-join-hunt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: wrap-content;
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  color: aquamarine;
}

.join-button-enabled {
  background-color: aqua !important;
  color: black !important;

  // Don't remove the !important, it's necessary to override the default color.
}

.input-container {
  display: flex;
  justify-content: space-between;
  input {
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid #000;
    margin-right: 10px; // Add space between the boxes
    &:last-child {
      margin-right: 0; // Remove the margin from the last box
    }
    margin-bottom: 20px;
  }
}
