<div class="container">
  <mat-card class="card">
    <mat-card-content>
      <mat-card-actions>
        <mat-form-field class="full-width">
          <mat-label>Access Code</mat-label>
          <input matInput type="number" pattern="\d{6}">
        </mat-form-field>
      </mat-card-actions>
      <a mat-raised-button color="accent" class="link-button center-button" name="host-button" routerLink="/hosts" routerLinkActive="drawer-list-item-active">
        <span class="button-text">Join</span>
      </a>
    </mat-card-content>
  </mat-card>
</div>
