.access-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 60vh;
  background-color: white;
  @media (prefers-color-scheme: dark) {
    background-color: white;
  }
}

.access-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;
}

.access-code-title {
  font-size: 5em;
  line-height: 1.0;
  color: #0056b3;

    @media (prefers-color-scheme: dark) {
      color: #00ccff;
    }
}

.access-code-number {
  font-size: 4em;
  margin-top: 40px;
  color: #0056b3;

    @media (prefers-color-scheme: dark) {
      color: #00ccff;
    }
}

.begin-hunt-button {
  width: 100%;
  text-align: center;
  background-color: #007bff6e;
  border-radius: 10px;
  padding: 20px 30px;
  font-size: 2em;
  font-weight: bold;
  transition: background-color 0.3s ease;

    @media (prefers-color-scheme: dark) {
      background-color: #00ccff;
    }
}

.begin-hunt-button:hover {
  background-color: #0056b3;

  @media (prefers-color-scheme: dark) {
    background-color: #00ccff;
  }
}

.running-hunt-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
  background-color: white;
  @media (prefers-color-scheme: dark) {
    background-color: white;
  }
}

.running-hunt-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;

  @media (max-width: 600px) {
  }
}

.running-hunt-title {
  font-size: 5em;
  line-height: 1.0;
  color: #0056b3;
}

.hunt-timer, .hunt-Nof-tasks {
  margin-left: auto;
}

.end-hunt-button {
  width: 100%;
  text-align: center;
  background-color: #007bff6e;
  border-radius: 10px;
  padding: 20px 40px;
  font-size: 2em;
  font-weight: bold;
  transition: background-color 0.3s ease;

    @media (prefers-color-scheme: dark) {
      background-color: #00ccff;
    }
}

.end-hunt-button:hover {
  background-color: #0056b3;

  @media (prefers-color-scheme: dark) {
    background-color: #00ccff;
  }
}

.task-table {
  width: 100%;
  counter-reset: task-counter;
  margin-top: 50px;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-1 {
  flex: 3;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
  white-space: normal;
  overflow: auto;
  color: #032c59;
  background-color: rgb(149, 169, 243);
  line-height: 1.5;
}

.task-list {
  flex: 5;
  font-size: 30px;
  border: 1px solid black;
  line-height: 1.5;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.task-list::before {
  counter-increment: task-counter;
  content: counter(task-counter) ". ";
}

.tracked-access-code-number {
  font-size: 40px;
  margin-top: 10px;
  color: #0056b3;
  font-weight: bold;
  text-decoration: underline;
}

.tracking-hunt-title {
  font-size: 3em;
  color: #0056b3;
  line-height: 1.5;
}

.flex-2 {
  flex: 3;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
  white-space: normal;
  overflow: auto;
  color: #032c59;
  background-color:  rgb(149, 169, 243);
  line-height: 1.5;
}

.team-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.team-card {
  flex: 1 0 auto;
  margin: 10px;
  margin-bottom: 40px;
  background-color: white;
  border: thick solid black;
}

@media (max-width: 600px) {
  .task-table {
    width: 100%; /* Make the table take up the full width */
  }
}

.team-one {
  text-align: center;
  font-size: 35px;
  color: #0056b3;
  font-weight: bold;
}

.team-two {
  text-align: center;
  font-size: 35px;
  color: #0056b3;
  font-weight: bold;
}

.progress-hunt-bar {
  background-color: white;
  border: 2px solid black;
}

.hunter-progress {
  font-size: 30px;
  text-decoration: underline;
}


