@if (this.huntBegun === false) {
<mat-card class="access-card">
  <mat-card-content class="access-content">
    <h2 class="access-code-title">Access Code</h2>
    <h1 class="access-code-number">{{ startedHunt?.accessCode }}</h1>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button class = "begin-hunt-button" (click)="beginHunt()">Begin Hunt!</button>
  </mat-card-actions>
</mat-card>
} @else {
  <div>
    Hunt has begun!
  </div>

  <!-- <mat-card-actions>
    <button mat-raised-button class = "end-hunt-button" (click)="endHunt()">End Hunt</button>
  </mat-card-actions> -->
}
