@if (this.startedHunt()) {
  <mat-card class="ended-hunt-card">
    <mat-card-header>
      <mat-card-title class="ended-hunt-card-name">{{ this.startedHunt().completeHunt.hunt.name }}</mat-card-title>
      <mat-card-subtitle class="ended-hunt-card-description">{{ this.startedHunt().completeHunt.hunt.description }}</mat-card-subtitle>
      <mat-card-subtitle class="ended-hunt-card-endDate">{{ this.startedHunt().endDate | date:'medium' }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions class="actions-container">
      <div>
        @if (this.simple()) {
          <mat-card-actions>
            <button mat-fab class="remove-hunt-fab" matTooltip="Delete Hunt" matTooltipPosition="left" (click)="deleteEndedHunt(startedHunt()._id)" data-test="deleteStartedHuntButton">
              <mat-icon class="md-24" aria-label="Delete Hunt">delete</mat-icon>
            </button>
          </mat-card-actions>
        }
      </div>
    </mat-card-actions>
  </mat-card>
}
